.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Map {
  background-color: #09d3ac;
  width: 100vw;
  height: 75vh;
}

.Controls {
  background-color: rgb(71, 69, 69);
  width: 100vw;
  height: 5vh;
}

.Info {
  width: 100vw;
  height: 20vh;
  display: flex;
  font-size: 20px;
}

.Character_location {
  background-color: rgb(90, 63, 63);
  width: 50%;
  align-content: left;
}

.Inventory {
  background-color: rgb(170, 148, 148);
  width: 50%;
  /* align-content: left; */
}
